<%= simple_form_for @question,
                    :url => url_for(:action => 'create_user_question', :controller => 'questions'),
                    :method => 'post' do |f| %>


    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.association :category, :required => true, :selected => '0', :class => 'text-center'  %>

    <div class="field">
      <%= f.input :title, :label => 'Question', :required => true %>
    </div>

    <%= simple_fields_for @correct_answer do |a| %>
        <p>
          <%= a.input :title, label: 'Correct Answer', :required => true %>
          <% @correct_answer.is_correct = true %>
        </p>
    <% end %>

    <%= f.fields_for :answers do |answer| %>
        <%= answer.input :title, :label => 'Answer', :required => true %>
    <% end %>

    <div class="actions">
      <%= f.submit 'Submit Question For Review', :required => true %>
    </div>
<% end %>
