<%= simple_form_for @question,
                    :url => url_for(:action => 'create_user_question', :controller => 'questions'),
                    :method => 'post' do |f| %>
    <% if @question.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

          <ul>
            <% @question.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= f.association :category %>

    <div class="field">
      <%= f.input :title %>
    </div>

    <%= simple_fields_for @answer do |a| %>
        <p>
          <%= a.input :title, label: 'Correct Answer' %>
          <% @answer.is_correct = true %>
        </p>
    <% end %>
    <p>

    <div class="actions">
      <%= f.submit 'Submit Question For Review' %>
    </div>
<% end %>
