
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @question.rating %>
</p>

<h2>Answers</h2>
<% @question.answers.each do |answers| %>
    <p>
      <strong>Title:</strong>
      <%= answers.title %>
    </p>

    <p>
      <strong>Is it the correct answer:</strong>
      <%= answers.is_correct %>
    </p>
<% end %>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>