<head>
  <script>

      // Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
      // Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code

      //** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
      //** Call: uniquevar.playclip() to play sound

      var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
          "mp3": "audio/mpeg",
          "mp4": "audio/mp4",
          "ogg": "audio/ogg",
          "wav": "audio/wav"
      }

      function createsoundbite(sound){
          var html5audio=document.createElement('audio')
          if (html5audio.canPlayType){ //check support for HTML5 audio
              for (var i=0; i<arguments.length; i++){
                  var sourceel=document.createElement('source')
                  sourceel.setAttribute('src', arguments[i])
                  if (arguments[i].match(/\.(\w+)$/i))
                      sourceel.setAttribute('type', html5_audiotypes[RegExp.$1])
                  html5audio.appendChild(sourceel)
              }
              html5audio.load()
              html5audio.playclip=function(){
                  html5audio.pause()
                  html5audio.currentTime=0
                  html5audio.play()
              }
              return html5audio
          }
          else{
              return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
          }
      }

      //Initialize two sound clips with 1 fallback file each:

      var correctSound=createsoundbite("/sounds/correct.mp3")
      var incorrectSound=createsoundbite("/sounds/incorrect.mp3")

  </script>
</head>
<h1 id="countdown" class="timer"></h1>
<script>
    var seconds = 30;
    function secondPassed() {
        var minutes = Math.round((seconds - 30)/60);
        var remainingSeconds = seconds % 60;
        if (remainingSeconds < 10) {
            remainingSeconds = "0" + remainingSeconds;
        }
        document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
        if (seconds == 0) {
            clearInterval(countdownTimer);
            document.getElementById('countdown').innerHTML = "Time up!";
            alert('Times up! You got it wrong! Next players turn!!!!');
            window.location.href="/game/category_selection.html"
        } else {
            seconds--;
        }
    }

    var countdownTimer = setInterval('secondPassed()', 1000);
</script>
<h2 class="text-center"><%= $random_category.title %></br>
  <small><%= @random_question.title %></small></h2>

<tbody>
<% @random_question.answers.all.shuffle.each do |answer| %>
    <div class="text-center">
    <button id=<%= answer.title.gsub(/\s+/, "") %> type="button" name=<%= answer.title %> value=<%= answer.is_correct %> class="btn btn-primary btn-lg btn-block">
      <%= answer.title %></button><br>
    </div>
    <script type ="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(<%= answer.title.gsub(/\s+/, "") %>).click(function() {
                <% if answer.is_correct %>
                correctSound.playclip();
                    alert('Congrats, you were right!!!!');
                    window.location.href="/game/category_selection.html"
                <% else %>
                incorrectSound.playclip();
                    alert('Wrong! Next players turn!!!!');
                    window.location.href="/game/category_selection.html"
                <% end %>
            })
        });
    </script>

<% end %>

</tbody>
<br/><br/>
<h1>Below shows we can query both ways in our database.</h1></<br/>
<p>These answers belong to the question: <%= @answers[0].question.to_s %></p>
<p>This question belongs to the category: <%= @answers[0].question.category.to_s %></p>
<br/>
<p>This query retrieves all answers in the database, selects a random one, and gets the question and category associated with it.</p>
<p>Random answer: <%= @random_answer.to_s %></p>
<p>Question associate with answer: <%= @random_answer.question.to_s %></p>
<p>Category associated with answer and question: <%= @random_answer.question.category.to_s %></p>
<p>The answers to go along with the question:  <br/> <% @random_answer.question.answers.each do |answer| %>
      <%= answer %><br> <%end %></p>


