<div style="padding: 50px">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true %>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
        <%= f.input :password_confirmation, required: false %>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
        <%= f.input :location, hint: "leave it blank if you want to keep your location private", required: true %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update" %>
      </div>
  <% end %>
  <br>
  <button id="toggle_avatar" class="btn btn-danger">Toggle Avatar Picture</button><br><br>
  <button id="toggle_searchable" class="btn btn-danger">Change Visibility</button><br><br>
  <%if current_user.searchable %>
      <p>Other users <b>can</b> search for me</p>
      <% else %>
      <p>Other users <b>cannot</b> search for me</p>
      <% end %>

  <script>
          var toggle_avatar = $('#toggle_avatar');
          toggle_avatar.click(function() {
              $.ajax({
                  url: "play/toggle_avatar",
                  type: 'PUT',
                  success: function() {
                      window.location.reload()
                  }
              });
          });

          var toggle_searchable = $('#toggle_searchable');
          toggle_searchable.click(function() {
              $.ajax({
                  url: "play/toggle_searchable",
                  type: 'PUT',
                  success: function() {
                      window.location.reload()
                  }
              });
          });
  </script>

  <h3>Cancel my account</h3>

  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back %>
</div>