<!--Display these fields if a admin is logged in.-->
<button style="background-color: #2541c3" onclick="Back()" type="button" class="btn btn-primary">
  BACK
</button><br>
<% if current_user.admin %>
    <h2 class="text-center">ADMIN DASHBOARD</h2>
<table style="width: 100%; margin: 0 auto;border-spacing: 10px">

  <tr>
    <th colspan="3" style="text-align: center;">
      Users
    </th>
  </tr>
  <% for user in @users %>
  <tr>
    <td>
      <%= image_tag user.avatar.url, style: 'border-radius: 50%;' %>
    </td>

    <td><%=h user.email %></td>

    <td><%= link_to "Remove", admin_destroy_user_path(user), method: :delete %></td>
    <% if user.admin %>
        <td><%= link_to "Demote admin", admin_demote_admin_path(user) %></td>
    <% else %>
        <td><%= link_to "Make admin", admin_promote_admin_path(user) %></td>
    <% end %>

    <% if user.reviewer %>
        <td><%= link_to "Demote reviewer", admin_demote_reviewer_path(user) %></td>
    <% elsif !user.admin %>
        <td><%= link_to "Make reviewer", admin_promote_reviewer_path(user) %></td>
    <% end %>
  </tr>
  <% end %>

  <% end %>
</table>

<% if current_user.reviewer %>
    <h2 class="text-center">REVIEWER DASHBOARD</h2>
<% end %>

<% if current_user.reviewer || current_user.admin  %>

    <table style="width: 75%; margin: 0 auto;">
      <tr>
        <th colspan="5" style="text-align: center">User Questions</th>
      </tr>
      <tr>
        <th style="text-align: center">Question Title</th>
        <th style="text-align: center">Correct Answer</th>
        <th style="text-align: center">Incorrect Answer</th>
        <th style="text-align: center">Incorrect Answer</th>
        <th style="text-align: center">Incorrect Answer</th>
      </tr>

      <% for question in @questions %>
          <% if question.user_submitted %>
              <tr>
                <td>
                  <%= question.title %>
                </td>
                <% for answer in question.answers %>
                        <td>
                          <%= answer.title %>
                        </td>
                <% end %>
                <td>
                    <%= link_to 'Approve', save_user_question_questions_path(:id => question.id), :method => :put %>
                </td>
                <td>
                <td><%= link_to 'Deny', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </td>
              </tr>
          <% end %>
      <% end %>
    </table>

<% end %>

<script>
    function Back() {
        window.location.replace("/");
    }
</script>