<a id="fun" href="#">Fun</a>

<a id="boring" href="#">Boring</a>

<a id="sumbit_question" href="#">Submit Question</a>

<script>
    $(function() {
        $('#fun').click(function() {
            <%= current_user.active_player.current_question.increment!(:rating) %>
            ChangePage()
        });
        $('#boring').click(function() {
            <%= current_user.active_player.current_question.decrement!(:rating) %>
            ChangePage()
        });
        $('#submit_question').click(function() {
            $('body').load(<%= new_question_path %>);
        });
        function ChangePage() {
            var meter = <%= current_user.active_player.meter %>;
            var number_of_trophies = <%= current_user.active_player.trophies.count %>;
            if (number_of_trophies == 6) {
                alert("Your win.");
            }
            if ((meter == 2) && '<%= current_user.active_player.current_answer %>') {
                $('body').load('/play/display_trophy_select.html');
            }
            else {
                $('body').load('/play/display_spinner.html');
            }
        }
    });
</script>