<head>
  <script>

      // Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
      // Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code

      //** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
      //** Call: uniquevar.playclip() to play sound

      var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
          "mp3": "audio/mpeg",
          "mp4": "audio/mp4",
          "ogg": "audio/ogg",
          "wav": "audio/wav"
      };

      function createSoundBite(sound){
          var html5audio=document.createElement('audio');
          if (html5audio.canPlayType){ //check support for HTML5 audio
              for (var i=0; i<arguments.length; i++){
                  var sourceel=document.createElement('source');
                  sourceel.setAttribute('src', arguments[i]);
                  if (arguments[i].match(/\.(\w+)$/i))
                      sourceel.setAttribute('type', html5_audiotypes[RegExp.$1]);
                  html5audio.appendChild(sourceel)
              }
              html5audio.load();
              html5audio.playclip=function(){
                  html5audio.pause();
                  html5audio.currentTime=0;
                  html5audio.play();
              };
              return html5audio
          }
          else{
              return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
          }
      }

      //Initialize two sound clips with 1 fallback file each:

      var correctSound=createSoundBite("/sounds/correct.mp3");
      var incorrectSound=createSoundBite("/sounds/incorrect.mp3");

      var seconds = 30;

      function secondPassed() {
          var minutes = Math.round((seconds - 30) / 60);
          var remainingSeconds = seconds % 60;
          if (remainingSeconds < 10) {
              remainingSeconds = "0" + remainingSeconds;
          }
          document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
          if (seconds == 0) {
              clearInterval(countdownTimer);
              incorrectSound.playclip();
              $.ajax({
                  url: "play/false_answer",
                  type: 'PUT'
              });
              document.getElementById('countdown').innerHTML = "Time up!";
              alert('Times up! You got it wrong! Next players turn!!!!');
              ChangePage();
          } else {
              seconds--;
          }
      }

      var countdownTimer = setInterval('secondPassed()', 1000);
      var correctAnswer = false;
      var correctButton = 1;
  </script>
</head>

<h1 id="countdown" class="timer">0:30</h1>
<h2 class="text-center">
<%= current_user.active_player.current_category.title %>
<br>
  <small><%= @question.title %></small>
</h2>
<tbody>
<% @question.answers.all.shuffle.each do |answer| %>
    <div class="text-center">
      <button id="<%= answer.title.gsub(/\s+/, '') %>" type="button" name=<%= answer.title %> value=<%= answer.is_correct %> class="btn btn-primary btn-lg btn-block">
        <%=answer.title %></button><br>
    </div>
    <script type ="text/javascript" charset="utf-8">
        $(document).ready(function() {
            correctAnswer = <%=answer.is_correct %>;
            if (correctAnswer) {
                correctButton = document.getElementById('<%= answer.title.gsub(/\s+/, '') %>');
            }
            $(<%= answer.title.gsub(/\s+/, '') %>).click(function() {
                correctAnswer = <%=answer.is_correct %>;
                if(correctAnswer) {
                    $.ajax({
                        url: "play/true_answer",
                        type: 'PUT'
                    });
                    correctSound.playclip();
                    this.style.background = '#00BB00';
                    this.innerHTML = "Correct!!!";
                }
                else {
                    $.ajax({
                        url: "play/false_answer",
                        type: 'PUT'
                    });
                    incorrectSound.playclip();
                    this.style.background = '#FF0000';
                    this.innerHTML = "Incorrect!!!";
                    correctButton.style.background = '#00BB00';
                }
                clearInterval(countdownTimer);
                setTimeout(ChangePage, 500);
            })
        });
    </script>
<% end %>

<p>Going for trophy: <%= current_user.active_player.going_for_trophy%></p>
</tbody>

<script>
    function ChangePage()
    {
        var meter = <%= current_user.active_player.meter %>;
        if ((meter == 2) && correctAnswer) {
            $('body').load('/play/display_trophy_select.html');
        }
        else {
            $('body').load('/play/display_spinner.html');
        }
    }
</script>


