<div id="profile">
  <button style="background-color: #2541c3" onclick="GoBack()" type="button" class="btn btn-primary">
    BACK
  </button>
  <br>
  <br>

  <h2 class="text-center">GAME STATISTICS</h2>
  <br>

  <h4 class="text-center">QUESTIONS CORRECT</h4>

  <h3>Weekly: <%= Scoreboard.first.get_total_correct(Scoreboard.first.weekly_counters) %></h3>
  <% Scoreboard.first.weekly_counters.each do |counter| %>
      <%= counter.categories.first.title %>
      <%= counter.questions_correct %>
      <%= counter.questions_answered %>
      <%= counter.get_percent_correct %>%
  <% end %>

  <h3>Monthly: <%= Scoreboard.first.get_total_correct(Scoreboard.first.monthly_counters) %></h3>
  <% Scoreboard.first.monthly_counters.each do |counter| %>
      <%= counter.categories.first.title %>
      <%= counter.questions_correct %>
      <%= counter.get_percent_correct %>%
  <% end %>

  <h3>All Time: <%= Scoreboard.first.get_total_correct(Scoreboard.first.all_time_counters) %></h3>
  <% Scoreboard.first.all_time_counters.each do |counter| %>
      <%= counter.categories.first.title %>
      <%= counter.questions_correct %>
      <%= counter.get_percent_correct %>%
  <% end %>
</div>


<script>
    function GoBack() {
        window.location.replace("/");
    }
</script>