<head>
  <script>

      // Mouseover/ Click sound effect- by JavaScript Kit (www.javascriptkit.com)
      // Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code

      //** Usage: Instantiate script by calling: var uniquevar=createsoundbite("soundfile1", "fallbackfile2", "fallebacksound3", etc)
      //** Call: uniquevar.playclip() to play sound

      var html5_audiotypes={ //define list of audio file extensions and their associated audio types. Add to it if your specified audio file isn't on this list:
          "mp3": "audio/mpeg",
          "mp4": "audio/mp4",
          "ogg": "audio/ogg",
          "wav": "audio/wav"
      }

      function createSoundBite(sound){
          var html5audio=document.createElement('audio')
          if (html5audio.canPlayType){ //check support for HTML5 audio
              for (var i=0; i<arguments.length; i++){
                  var sourceel=document.createElement('source')
                  sourceel.setAttribute('src', arguments[i])
                  if (arguments[i].match(/\.(\w+)$/i))
                      sourceel.setAttribute('type', html5_audiotypes[RegExp.$1])
                  html5audio.appendChild(sourceel)
              }
              html5audio.load()
              html5audio.playclip=function(){
                  html5audio.pause()
                  html5audio.currentTime=0
                  html5audio.play()
              }
              return html5audio
          }
          else{
              return {playclip:function(){throw new Error("Your browser doesn't support HTML5 audio unfortunately")}}
          }
      }

      var spinSound=createSoundBite("/sounds/spin.mp3")

  </script>
</head>
<button onclick="GoBack()" type="button" class="btn btn-primary">
  BACK</button>
<% if current_user.active_player.isActivePlayer %>
    <h1>Spin the Wheel!</h1>
    <% else %>
    <h1>Awaiting opponent's turn</h1>
<% end %>
<img src= "/images/centerspin.png" id="center">
<img src= "/images/spinner.png" id="spinner">
<p>Meter: <%= current_user.active_player.meter%></p>
<% if (!current_user.active_player.opponent.nil?) %>
<p>Opponent: <%= current_user.active_player.opponent.user.email%></p>
    <% end %>

<div id="trophy">
  <% current_user.active_player.trophies.each do |trophy|  %>

      <img src= <%= trophy.icon_path%>>

  <% end %>
</div>

<script type ="text/javascript" charset="utf-8">
    jQuery(document).ready(function()
    {
        $("#center").rotate({
            bind:
            {
                click: function(){
                    <% if current_user.active_player.isActivePlayer %>
                    $("#spinner").rotate({ angle:0,animateTo:<%= @rotations %>,easing: $.easing.easeInOutExpo }, setTimeout(ChangePage, 1000))
                    spinSound.playclip();
                    <% end %>
                }
            }
        });
    });

    function ChangePage()
    {
        var meter = <%=current_user.active_player.meter%>;
        if ((meter == 3)) {
            $('body').load('/play/display_trophy_select.html');
        }
        else {
            $('body').load('/play/display_questions.html');
        }
    }
    function GoBack()
    {
        $('body').load('play/index');
    }
</script>