<head>
  <script>
      var seconds = 30;

      function secondPassed() {
          var minutes = Math.round((seconds - 30) / 60);
          var remainingSeconds = seconds % 60;
          if (remainingSeconds < 10) {
              remainingSeconds = "0" + remainingSeconds;
          }
          document.getElementById('countdown').innerHTML = minutes + ":" + remainingSeconds;
          if (seconds == 0) {
              clearInterval(countdownTimer);
              incorrectSound.playclip();
              $.ajax({
                  url: "play/false_answer",
                  type: 'PUT'
              });
              document.getElementById('countdown').innerHTML = "Time up!";
              alert('Times up! You got it wrong! Next players turn!!!!');
              ChangePage();
          } else {
              seconds--;
          }
      }

      var countdownTimer = setInterval('secondPassed()', 1000);
      var correctAnswer = false;
      var correctButton = 1;
  </script>
</head>

<h1 id="countdown" class="timer">0:30</h1>
<h2 class="text-center">
<%= current_user.active_player.current_category.title %>
<br>
  <small><%= current_user.active_player.current_question.title %></small>
</h2>
<% current_user.active_player.current_question.answers.all.shuffle.each do |answer| %>
    <div class="text-center">
      <button id="<%= answer.title.gsub(/\s+/, '') %>"
              type="button"
              name=<%= answer.title %>
                      value=<%= answer.is_correct %>
              class="btn btn-primary btn-lg btn-block">
        <%=answer.title %></button><br>
    </div>
    <script type ="text/javascript" charset="utf-8">
        $(document).ready(function() {
            correctAnswer = <%=answer.is_correct %>;
            if (correctAnswer) {
                correctButton = document.getElementById('<%= answer.title.gsub(/\s+/, '') %>');
            }
            $(<%= answer.title.gsub(/\s+/, '') %>).click(function() {
                correctAnswer = <%=answer.is_correct %>;
                if(correctAnswer) {
                    $.ajax({
                        url: "play/true_answer",
                        type: 'PUT'
                    });
                    correctSound.playclip();
                    this.style.background = '#00BB00';
                    this.innerHTML = "Correct!!!";
                }
                else {
                    $.ajax({
                        url: "play/false_answer",
                        type: 'PUT'
                    });
                    incorrectSound.playclip();
                    this.style.background = '#FF0000';
                    this.innerHTML = "Incorrect!!!";
                    correctButton.style.background = '#00BB00';
                }
                if (<%= current_user.active_player.isActivePlayer && !current_user.active_player.challenge.nil? %>){
                    $.ajax({
                        url: "play/get_next_challenge_question",
                        type: 'PUT'
                    });
                }
                clearInterval(countdownTimer);
                setTimeout(ChangePage, 500);
            })
        });
    </script>
<% end %>
<a id="phone_google" href="#">Phone a Google</a>
<a id="eliminate" href="#">Elimination Station</a>
<a id="reroll" href="#">Reroll</a>

<p>Going for trophy: <%= current_user.active_player.going_for_trophy%></p>

<% if !current_user.active_player.challenge.nil?%>
<p>Question counter: <%= current_user.active_player.challenge.question_counter%></p>
<% end %>

<script>
    $(function() {
        $('#reroll').click(function(){
            $('body').load('/play/display_spinner.html');
        });

        $('#phone_google').click(function(){
            seconds = seconds + 30;
            $('#phone_google').hide();
            var win = window.open('https://www.google.com/?gws_rd=ssl#q=' + '<%= current_user.active_player.current_question.title %>', '_blank');
            win.focus();
        });

        $('#eliminate').click(function(){
            var incorrectAnswers = [];
            var i;
            <% current_user.active_player.current_question.answers.all.shuffle.each do |answer| %>
                if (<%= !answer.is_correct %>) {
                    var button = document.getElementById('<%= answer.title.gsub(/\s+/, '') %>');
                    incorrectAnswers.push(button);
                }
            <% end %>
            for (i = 0; i < incorrectAnswers.length-1; i++) {
                $(incorrectAnswers[i]).fadeOut( 1600 );
                //incorrectAnswers[i].style.display = 'none';
            }
        });
    });
    function ChangePage()
    {
        $('body').load('/play/display_question_rating.html');
    }
</script>


