<button onclick="GoBack()" type="button" class="btn btn-primary">
  BACK</button>
<% if !current_user.active_player.isActivePlayer %>
    <h1>Awaiting opponent's turn</h1>
<% elsif current_user.active_player.challenges.first.nil?%>
    <h1>Spin the Wheel!!!</h1>
    <img src= "/images/centerspin.png" id="center">
    <img src= "/images/spinner.png" id="spinner">
<% else %>
    <h1>You have been challenged!</h1>
    <br>
    <button onclick="StartChallenge()" type="button" class="btn btn-primary btn-lg btn-block">
      Start Challenge!
    </button>
    <br>
<% end %>
<p>Meter: <%= current_user.active_player.meter%></p>
<p>#Correct: <%= current_user.total_correct%></p>
<p>#Correct to Next Level: <%= @until_level_up%></p>
<p>Is in challenge: <%= !current_user.active_player.challenges.first.nil?%></p>
<% if (!current_user.active_player.opponent.nil?) %>
    <p>Opponent: <%= current_user.active_player.opponent.user.email%></p>
    <p>Opponent is in challenge: <%= !current_user.active_player.opponent.challenges.first.nil?%></p>
<% end %>

<div id="trophy">
  <% current_user.active_player.trophies.each do |trophy|  %>

      <img src= <%= trophy.icon_path%>>

  <% end %>
</div>

<script type ="text/javascript" charset="utf-8">

    jQuery(document).ready(function()
    {
        $("#center").rotate({
            bind:
            {
                click: function(){
                    <% if current_user.active_player.isActivePlayer && current_user.active_player.challenges.first.nil?%>
                    $("#spinner").rotate({ angle:0,animateTo:<%= @rotations %>,easing: $.easing.easeInOutExpo }, setTimeout(ChangePage, 1000));
                    spinSound.playclip();
                    <% end %>
                }
            }
        });
    });
    function ChangePage()
    {
        var meter = <%=current_user.active_player.meter%>;
        if ((meter == 3)) {
            $('body').load('/play/display_full_meter_choice.html');
        }
        else {
            GetQuestions();
        }
    }
    function GoBack()
    {
        $('body').load('play/index');
    }

    function StartChallenge()
    {
        $.ajax({
            url: "play/continue_challenge",
            type: 'PUT'
        });
        setTimeout(GetQuestions, 500);
    }

    function GetQuestions()
    {
        $('body').load('/play/display_questions.html');
    }
</script>