<button onclick="GoBack()" type="button" class="btn btn-primary">
  BACK</button>

<% if !current_user.active_player.isActivePlayer
     if !current_user.active_player.is_inactive %>
    <h1>Awaiting opponent's turn</h1>
    <img src= "/images/wait_centerspin.png" id="center">
    <img src= "/images/spinner.png" id="spinner">
        <% elsif current_user.active_player.has_won %>
            <h1>You Won!!!</h1>
        <% else %>
            <h1>You Lost...</h1>
        <% end
 elsif current_user.active_player.challenges.first.nil?%>
    <h1>Spin the Wheel!!!</h1>
    <img src= "/images/centerspin.png" id="center">
    <img src= "/images/spinner.png" id="spinner">
<% else %>
    <h1>You have been challenged!</h1>
    <br>
    <button onclick="StartChallenge()" type="button" class="btn btn-primary btn-lg btn-block">
      Start Challenge!
    </button>
    <br>
<% end %>
<p>Meter: <%= current_user.active_player.meter%></p>

<div id="trophy">
  <% current_user.active_player.trophies.each do |trophy|  %>
      <br><p>Me: </p>
      <img src= <%= trophy.icon_path%>>
      <br>
  <% end %>

<% if (!current_user.active_player.opponent.nil?) %>
      <br><p><%= current_user.active_player.opponent.user.email%>: </p>
      <% current_user.active_player.opponent.trophies.each do |trophy|  %>

          <img src= <%= trophy.icon_path%>>
      <% end %>
<% end %>

</div>
<br><br><button onclick="Resign()" type="button" class="btn btn-primary">
  RESIGN</button>

<script type ="text/javascript" charset="utf-8">

    <% if current_user.has_new_achievement %>
    var newAchievement = "You have a new Achievement\n<%= current_user.achievements.last.title %>"
    alert(newAchievement)
    $.ajax({
        url: "play/achievement_message_recieved",
        type: 'PUT'
    });
    <% end %>

    jQuery(document).ready(function()
    {
        var rotations = Math.floor((Math.random() * 100000) + 80000);
        var category_number = rotations % 360;
        $("#center").rotate({
            bind:
            {
                click: function(){
                    $.ajax({
                        url: "play/get_random_category",
                        type: 'PUT',
                        dataType: 'json',
                        data: {'rotations' : rotations}
                    });
                    <% if current_user.active_player.isActivePlayer && current_user.active_player.challenges.first.nil?%>
                     $("#spinner").rotate({ angle:0,animateTo: rotations,easing: $.easing.easeInOutExpo });
                    spinSound.playclip();
                    if (category_number >= 309 && category_number <= 359) {
                        setTimeout(GetFullMeterChoice, 1000);
                    }
                    else {
                        setTimeout(GetQuestions, 1000);
                    }
                    <% end %>
                }
            }
        });
    });
    function GetFullMeterChoice()
    {
        $('body').load('/play/display_full_meter_choice.html');
    }
    function GoBack()
    {
        $('body').load('play/index');
    }

    function StartChallenge()
    {
        $.ajax({
            url: "play/continue_challenge",
            type: 'PUT'
        });
        setTimeout(GetQuestions, 500);
    }

    function GetQuestions()
    {
        $('body').load('/play/display_questions.html');
    }

    function Resign()
    {
        $.ajax({
            url: "play/resign",
            type: 'PUT'
        });
        setTimeout($('body').load('/play/display_spinner.html'), 1000);
    }
</script>