<div class="text-center">
    <button id="fun" type="button" class="btn btn-primary btn-lg btn-block">
      Fun!
    </button>
    <br>
    <button id="boring" type="button" class="btn btn-primary btn-lg btn-block">
      Boring!
    </button>
    <br>
    <button id="submit_question" type="button" class="btn btn-primary btn-lg btn-block">
      Submit a Question!
    </button>
    <br>
</div>

<script>
    $(function() {
        $('#fun').click(function() {
            <%= current_user.active_player.current_question.increment!(:rating) %>
            ChangePage()
        });
        $('#boring').click(function() {
            <%= current_user.active_player.current_question.decrement!(:rating) %>
            ChangePage()
        });
        $('#submit_question').click(function() {
            $('body').load(<%= new_question_path %>);
        });
        $.ajax({
            url: "play/finish_question",
            type: 'PUT'
        });
        function ChangePage()
        {
            var meter = <%= current_user.active_player.meter %>;

            if (meter == 3) {
                $('body').load('/play/display_full_meter_choice.html');
            }
            else if (<%= current_user.active_player.isActivePlayer && !current_user.active_player.challenges.first.nil? %>){
                $('body').load('/play/display_questions.html');
            }
            else {
                $('body').load('/play/display_spinner.html');
            }
        }
    });
</script>