<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <title>TrippinOnTrivia</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>

<%= render 'layouts/navigation' unless @disable_nav %>

<div class="container" id="main">
  <%= yield %>
</div>

<%= render 'layouts/modal' %>

<script>

    $(document.body).on('hidden.bs.modal', function () {
        $('#basicModal').removeData('bs.modal')
    });

    $( document ).ready(function() {
        var sound = document.getElementById('un-mute');

        sound.onclick = function () {
            $(this).find('i').toggleClass("fa fa-volume-up fa-3x fa-fw fa fa-volume-off fa-3x fa-fw");
            $.ajax({
                url: "play/toggle_mute",
                type: 'PUT'
            });
        };
    });
</script>
</body>
</html>
