<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <title>TrippinOnTrivia</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<nav id="accountbar" class="navbar navbar-default navbar-fixed-top">
  <div class="account">
    <section>
      <p class="navbar-text">
        <% if admin_signed_in? %>
          <div class="text-center">
            <h3>Admin Dashboard</h3>
            <%= link_to "Logout Admin", destroy_admin_session_path, method: :delete %>
          </div>
      <% end %>
      <% if user_signed_in? %>
          <section style="text-align: center">
            <strong> <%= current_user.email %></strong>
            | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            | Level: <%= current_user.level %>
            | Points: <%= current_user.points %>
            | <%= link_to "Purchase Points", new_charge_path %>
            <section style="padding-top: 10px;text-align: center">
              <span data-remote="play/display_friends"
                    data-toggle="modal"
                    data-target="#basicModal">
                <i class="fa fa-user-plus fa-3x fa-fw"></i>
              </span>

              <span data-remote="<%= edit_user_registration_path %>"
                    data-toggle="modal"
                    data-target="#basicModal">
                    <i class="fa fa-cog fa-3x fa-fw"></i>
              </span>

              <% muteStatus = "fa fa-volume-up fa-3x fa-fw"
                 if current_user.muted
                   muteStatus = "fa fa-volume-off fa-3x fa-fw"
                 end %>


              <span id="un-mute">
                <i class="<%= muteStatus%>"></i>
              </span>

            </section>
          </section>

      <% end %>
    </section>
  </div>
</nav>

<div class="container" id="main">
  <%= yield %>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>



<script>
    $( document ).ready(function() {
        var sound = document.getElementById('un-mute');

        sound.onclick = function () {
            $(this).find('i').toggleClass("fa fa-volume-up fa-3x fa-fw fa fa-volume-off fa-3x fa-fw");
            $.ajax({
                url: "play/toggle_mute",
                type: 'PUT'
            });
        };
    });
</script>
</body>
</html>
