<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
  <title>TrippinOnTrivia</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
  <![endif]-->
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <section>
      <p class="navbar-text">
        <% if user_signed_in? %>
            <section style="text-align: center">
              <strong> <%= current_user.email %></strong>
              | <%= link_to "Logout", destroy_user_session_path, method: :delete %>
              | Level: <%= current_user.level %>
            </section>
            <section style="padding-top: 10px;text-align: center">
              <a data-toggle="modal" data-target=".bs-example-modal-sm" href="#"><i class="fa fa-star fa-3x fa-fw"></i></a>

              <a data-toggle="modal" data-target=".bs-example-modal-lg" href="<%= edit_user_registration_path %>"><i class="fa fa-cog fa-3x fa-fw"></i></a>

              <input type="checkbox" name="un-mute" id="un-mute">
              <label for="un-mute" class="unmute">
                <i title="Mute icon" class="fa fa-volume-off fa-3x fa-fw"></i>
              </label>
              <label for="un-mute" class="mute">
                <i title="Unmute icon" class="fa fa-volume-up fa-3x fa-fw"></i>
              </label>
              <script>
                  var un_mute = document.getElementById('un-mute');

                  un_mute.onclick = function () {
                  };
              </script>
            </section>
        <% end %>
        </section>
  </div>
</nav>

<div class="container" id="main">
  <p class="notice"><%= notice %></p>

  <p class="alert"><%= alert %></p>
  <%= yield %>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

    </div>
  </div>
</div>
</body>
</html>
